Mule/mule-learning-transformers/src/main/resources/ZzzResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abc.com/2005/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zzzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Results">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Result" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Ack"/>
                    <xs:element type="xs:string" name="message"/>
                    <xs:element type="xs:string" name="service_id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>